# My assignments Of Data Science Capstone

libraries loaded..

In [15]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import lxml

Using BeautifulSoup4 and requests to scrabing that table..

In [16]:
res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [17]:
soup = BeautifulSoup(res.text,'lxml')

In [23]:
match = soup.findAll('table')
tab = match[0]

In [25]:
file = open('hwl.txt','w')
for tr in tab.tbody.findAll('tr'):
    for td in tr.findAll('td'):
        text = td.getText()
        file.write(text+",")
    file.write('\n')
file.close()

In [98]:
data = pd.read_table('hwl.txt',sep = ',',names = ['Postcode','Borough','Neighbourhood'])

In [99]:
data_1 = data[(data['Borough']!='Not assigned')].dropna()

In [123]:
data_1.head()

   Postcode           Borough     Neighbourhood
4       M3A        North York         Parkwoods
6       M4A        North York  Victoria Village
8       M5A  Downtown Toronto      Harbourfront
10      M5A  Downtown Toronto       Regent Park
12      M6A        North York  Lawrence Heights

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [100]:
data_1[data_1['Neighbourhood']=='Not assigned']

   Postcode       Borough Neighbourhood
16      M7A  Queen's Park  Not assigned

In [101]:
data_1.loc[16,'Neighbourhood']=data_1.loc[16,'Borough']

More than one neighborhood can exist in one postal code area

In [102]:
data2 = data_1.groupby(['Postcode','Borough'])['Neighbourhood'].sum()

In [118]:
df = pd.DataFrame(data2)

In [119]:
df = df.reset_index('Borough')

In [120]:
df = df.reset_index()

In [121]:
df.head()

  Postcode      Borough                       Neighbourhood
0      M1B  Scarborough                        RougeMalvern
1      M1C  Scarborough  Highland CreekRouge HillPort Union
2      M1E  Scarborough       GuildwoodMorningsideWest Hill
3      M1G  Scarborough                              Woburn
4      M1H  Scarborough                           Cedarbrae

In [122]:
df.shape

(103, 3)